.about-outer {
    display: block;
    clear: both;
}

.about-outer .about-inner {
    display: block;
    position: relative;
}

.about-outer .about-inner .about-banner {
    display: block;
    box-shadow: 4px 4px 10px #6ca7cb;
    margin-bottom: 4%;
}

.about-outer .about-inner .about-banner img {
    display: block;
    width: 100%;
    height: auto;
}

.about-outer .about-inner .about-text {
    display: block;
    position: absolute;
    top: 0;
}

.about-outer .about-inner .about-text img {
    display: block;
    width: 50%;
    height: auto;
    transform: translate(70%, 10%);
}

/* Strat Media Query */
@media (max-width:1199px) {
    .about-outer .about-inner .about-text img {
        transform: translate(48%, 10%);
    }
}

/* end media query */