.addition-banner {
    display: block;
    clear: both;
    margin-bottom: 5%;
}

.addition-banner .addition-banner-img {
    display: block;
    width: 100%;
    height: 300px;
    box-shadow: 4px 4px 15px #faa91d;
}

.addition-outer {
    display: block;
    clear: both;
}

.addition-outer .addition-inner {
    display: block;
}

.addition-outer .addition-inner .addition-block {
    display: block;
}

.addition-outer .addition-inner .addition-block .addition-cards {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.addition-outer .addition-inner .addition-block .addition-cards .addition-images {
    display: flex;
    width: 33.33%;
    box-sizing: border-box;
    padding: 25px;

}

.addition-outer .addition-inner .addition-block .addition-cards .addition-images .img-1 {
    display: block;
    width: 100%;
    height: 350px;
    border: 4px dashed black;
}

.addition-outer .addition-inner .addition-block .addition-cards .addition-images .plus-sign {
    display: flex;
    font-size: 100px;
    color: black;
    align-items: center;
}


.addition-outer .addition-inner .addition-block .addition-cards .additon-images2 {
    display: flex;
    width: 33.33%;
    box-sizing: border-box;
    padding: 25px;
}

.addition-outer .addition-inner .addition-block .addition-cards .additon-images2 .img-2 {
    display: block;
    width: 100%;
    height: 350px;
    border: 4px dashed black;
}

.addition-outer .addition-inner .addition-block .addition-cards .additon-images2 .equal-sign {
    display: flex;
    font-size: 100px;
    color: black;
    align-items: center;
}

.addition-outer .addition-inner .addition-block .addition-cards .addition-output {
    display: block;
    width: 33.33%;
    padding: 25px;
    box-sizing: border-box;
}

.addition-outer .addition-inner .addition-block .addition-cards .output-1 {
    display: block;
    width: 100%;
    height: 350px;
    border: 4px dashed black;
    transition: 0.4s ease-in-out;

}

.addition-outer .addition-inner .addition-block .addition-cards .output-1:hover {
    display: block;
    width: 100%;
    height: 350px;
    cursor: pointer;
    content: url('../../public/assets/output-1.jpg');
    box-shadow: 4px 4px 10px black;
    transform: rotateY(180deg);
}

.addition-outer .addition-inner .addition-block .addition-cards .output-2 {
    display: block;
    width: 100%;
    height: 350px;
    border: 4px dashed black;
    transition: 0.4s ease-in-out;
}

.addition-outer .addition-inner .addition-block .addition-cards .output-2:hover {
    display: block;
    width: 100%;
    height: 350px;
    cursor: pointer;
    content: url('../../public/assets/output-2.jpg');
    box-shadow: 4px 4px 10px black;
    transform: rotateY(180deg);
}

.addition-outer .addition-inner .addition-block .addition-cards .output-3 {
    display: block;
    width: 100%;
    height: 350px;
    border: 4px dashed black;
    transition: 0.4s ease-in-out;
}

.addition-outer .addition-inner .addition-block .addition-cards .output-3:hover {
    display: block;
    width: 100%;
    height: 350px;
    cursor: pointer;
    box-shadow: 4px 4px 10px black;
    content: url('../../public/assets/output-3.jpg');
    transform: rotateY(180deg);
}

.addition-outer .addition-inner .addition-block .addition-cards .output-4 {
    display: block;
    width: 100%;
    height: 350px;
    border: 4px dashed black;
    transition: 0.4s ease-in-out;
}

.addition-outer .addition-inner .addition-block .addition-cards .output-4:hover {
    display: block;
    width: 100%;
    height: 350px;
    cursor: pointer;
    content: url('../../public/assets/output-4.jpg');
    box-shadow: 4px 4px 10px black;
    transform: rotateY(180deg);
}

.addition-outer .addition-inner .addition-block .addition-cards .output-5 {
    display: block;
    width: 100%;
    height: 350px;
    border: 4px dashed black;
    transition: 0.4s ease-in-out;
}

.addition-outer .addition-inner .addition-block .addition-cards .output-5:hover {
    display: block;
    width: 100%;
    height: 350px;
    cursor: pointer;
    content: url('../../public/assets/output-5.jpg');
    box-shadow: 4px 4px 10px black;
    transform: rotateY(180deg);
}

.addition-outer .addition-inner .addition-block .addition-cards .output-6 {
    display: block;
    width: 100%;
    height: 350px;
    border: 4px dashed black;
    transition: 0.4s ease-in-out;
}

.addition-outer .addition-inner .addition-block .addition-cards .output-6:hover {
    display: block;
    width: 100%;
    height: 350px;
    cursor: pointer;
    content: url('../../public/assets/output-6.jpg');
    box-shadow: 4px 4px 10px black;
    transform: rotateY(180deg);
}

.back-btn-Addition {
    display: block;
    font-size: 25px;
    padding: 8px;
    background-color: #bb221c;
    color: white;
    width: 15%;
    border: 1px solid black;
    text-align: center;
    border-radius: 15px;
    transform: translateX(250%);
    margin-bottom: 2%;
    margin-top: 15px;
}

/* Start media Query */
@media (max-width:991px) {
    .addition-outer .addition-inner .addition-block .addition-cards .addition-images .img-1 {
        height: 200px;
    }

    .addition-outer .addition-inner .addition-block .addition-cards .additon-images2 .img-2 {
        height: 200px;
    }

    .addition-outer .addition-inner .addition-block .addition-cards .output-1 {
        height: 200px;
    }

    .addition-outer .addition-inner .addition-block .addition-cards .output-1:hover {
        height: 200px;
    }

    .addition-outer .addition-inner .addition-block .addition-cards .output-2 {
        height: 200px;
    }

    .addition-outer .addition-inner .addition-block .addition-cards .output-2:hover {
        height: 200px;
    }

    .addition-outer .addition-inner .addition-block .addition-cards .output-3 {
        height: 200px;
    }

    .addition-outer .addition-inner .addition-block .addition-cards .output-3:hover {
        height: 200px;
    }

    .addition-outer .addition-inner .addition-block .addition-cards .output-4 {
        height: 200px;
    }

    .addition-outer .addition-inner .addition-block .addition-cards .output-4:hover {
        height: 200px;
    }

    .addition-outer .addition-inner .addition-block .addition-cards .output-5 {
        height: 200px;
    }

    .addition-outer .addition-inner .addition-block .addition-cards .output-5:hover {
        height: 200px;
    }

    .addition-outer .addition-inner .addition-block .addition-cards .output-6 {
        height: 200px;
    }

    .addition-outer .addition-inner .addition-block .addition-cards .output-6:hover {
        height: 200px;
    }
}

@media (max-width: 767px) {
    .addition-outer .addition-inner .addition-block .addition-cards .addition-images .plus-sign {
        font-size: 60px;
    }

    .addition-outer .addition-inner .addition-block .addition-cards .additon-images2 .equal-sign {
        font-size: 60px;
    }

    .addition-banner .addition-banner-img {
        height: 250px;
    }
}


@media (max-width: 639px) {


    .addition-outer .addition-inner .addition-block .addition-cards .addition-images {
        width: 50%;
    }

    .addition-outer .addition-inner .addition-block .addition-cards .additon-images2 {
        width: 50%;
    }

    .addition-outer .addition-inner .addition-block .addition-cards .addition-output {
        width: 50%;
        margin: 0 auto;
    }

    .back-btn-Addition {
        transform: translateX(225%);
    }
}

@media (max-width: 479px) {
    .addition-banner .addition-banner-img {
        height: 150px;
    }

    .addition-banner {
        margin-bottom: 10%;
    }

    .addition-outer .addition-inner .addition-block .addition-cards .addition-images {
        padding: 5px;
    }

    .addition-outer .addition-inner .addition-block .addition-cards .additon-images2 {
        padding: 5px;
    }

    .addition-outer .addition-inner .addition-block .addition-cards .addition-output {
        padding: 5px;
        margin-bottom: 13%;
    }

    .back-btn-Addition {
        transform: translateX(198%);
        font-size: 20px;
    }
}

/* end media query */