.dashboard-body{
    background-image: url('../../public/assets/dashboard-body.jpg');
}

.dashboard-banner {
    display: block;
    clear: both;
}

.dashboard-banner .dashboard-img {
    display: block;
    width: 65%;
    height: auto;
    margin: 0 auto;
}

.dashboard-outer {
    display: block;
    clear: both;
}

.dashboard-outer .dshboard-inner {
    display: block;
}

.dashboard-outer .dshboard-inner .dashboard-block {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding-top: 6%;
}

.dashboard-outer .dshboard-inner .dashboard-block .dashboard-card {
    display: block;
    width: 33.33%;
    padding: 20px;
    box-sizing: border-box;
}

.dashboard-outer .dshboard-inner .dashboard-block .dashboard-card .dashboard-img {
    display: block;
}

.dashboard-outer .dshboard-inner .dashboard-block .dashboard-card .dashboard-img .dashboard-card-img {
    display: block;
    width: 100%;
    height: 300px;
    border: 1px solid #bbcef6;
    border-radius: 20px;
}

.dashboard-outer .dshboard-inner .dashboard-block .dashboard-card .dashboard-text {
    display: block;
    margin-top: 9%;
    margin-bottom: 6%;
    text-align: center;
}

.dashboard-outer .dshboard-inner .dashboard-block .dashboard-card .dashboard-text .dashboard-names {
    display: inline;
    font-size: 22px;
    text-align: center;
    padding: 6px;
    color: #597aea;
    background-color: #c7eafe;
    border: 1px solid white;
    border-radius: 14px;
}

.dashboard-outer .dshboard-inner .dashboard-block .dashboard-card .dashboard-text .dashboard-names:hover {
    display: inline;
    cursor: pointer;
    background-color: #a2a9ed;
    color: black;
}


.logout-container {
  position: absolute;
  top: 20px;
  right: 30px;
}

.logout-btn {
  background: #597aeb;
  color: white;
  border: none;
  padding: 10px 18px;
  border-radius: 8px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.logout-btn:hover {
  background: #d93636;
  transform: scale(1.05);
}



/* Strat Media Query */
@media (max-width: 991px) {
    .dashboard-outer .dshboard-inner .dashboard-block .dashboard-card .dashboard-img .dashboard-card-img {
        height: 255px;
    }
}

@media (max-width:767px) {
    .dashboard-outer .dshboard-inner .dashboard-block .dashboard-card .dashboard-img .dashboard-card-img {
        height: 189px;
    }

    .dashboard-outer .dshboard-inner .dashboard-block .dashboard-card .dashboard-text .dashboard-names {
        font-size: 19px;
    }

    .dashboard-outer .dshboard-inner .dashboard-block .dashboard-card .dashboard-text {
        margin-top: 13%;
    }
}

@media (max-width: 639px) {
    .dashboard-outer .dshboard-inner .dashboard-block .dashboard-card {
        width: 100%;
    }

    .dashboard-outer .dshboard-inner .dashboard-block {
        display: block;
    }

    .dashboard-outer .dshboard-inner .dashboard-block .dashboard-card .dashboard-img .dashboard-card-img {
        height: auto;
    }

    .dashboard-outer .dshboard-inner .dashboard-block .dashboard-card .dashboard-text .dashboard-names {
        font-size: 27px;
    }

    .dashboard-banner .dashboard-img {
        width: 80%;
    }

    .dashboard-banner {
        transform: translate(10%, 10%);
    }
}

/* end media query */