.feedback-outer {
    display: block;
    clear: both;
}

.feedback-outer .feedback-inner {
    display: block;
}

.feedback-outer .feedback-inner .feedback-banner {
    display: block;
    margin-top: 2%;
    margin-bottom: 8%;
}

.feedback-outer .feedback-inner .feedback-banner h2 {
    display: block;
    text-align: center;
    font-size: 32px;
    color: #ff6f61;
    letter-spacing: 2px;
    background-color: #dff6ff;
    padding: 15px 25px;
    border: 2px dashed #fff;
    border-radius: 25px;
    box-shadow: 0 6px 15px rgba(255, 111, 97, 0.4);
    font-weight: bold;
}

.feedback-outer .feedback-inner .feedback-table {
    display: flex;
    justify-content: center;
    align-items: center;
}

.feedback-outer .feedback-inner .feedback-table table {
    width: 90%;
    margin: auto;
    border-collapse: collapse;
    table-layout: fixed;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 6px 20px black;
    font-family: 'Arial', sans-serif;
}

.feedback-outer .feedback-inner .feedback-table table th,
.feedback-outer .feedback-inner .feedback-table table td {
    padding: 12px 18px;
    text-align: center;
    width: 12%;
    font-size: 20px;
    border: 1px solid #ddd;
    letter-spacing: 1px;
}


.feedback-outer .feedback-inner .feedback-table table thead tr th {
    background: linear-gradient(90deg, #4b6cb7, #182848);
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 15px;
    font-weight: 600;
}

.feedback-outer .feedback-inner .feedback-table table tbody tr td {
    background: #e14d4d;
    color: white;
    font-weight: 500;
    padding: 0px;
    font-size: 15px;
}

.delete-btn {
    display: block;
    margin: 0 auto;
    padding: 10px;
    background-color: lightcyan;
    color: black;
    font-size: 17px;
    letter-spacing: 3px;
}

.delete-btn:hover {
    background-color: rgb(255, 224, 224);
    cursor: pointer;
}

.feedback-outer .feedback-inner .feedback-table table tbody tr:hover td {
    background: #ff9f43;
    color: black;
    transition: 0.3s ease-in-out;
}

.back-btn {
    display: flex;
    padding: 15px;
    margin: 5% auto;
    background-color: cornsilk;
    font-size: 17px;
    letter-spacing: 1px;
    color: brown;
    border: 1px solid brown;
    border-radius: 20px;
}

.back-btn:hover {
    display: block;
    background-color: #4b6cb7;
    color: white;
}

/* Start Media Query */
@media (max-width: 480px) {
    .feedback-outer .feedback-inner .feedback-banner h2 {
        font-size: 22px;
        padding: 10px 15px;
    }

    .feedback-outer .feedback-inner .feedback-table table {
        width: 100%;
        font-size: 12px;
    }

    .feedback-outer .feedback-inner .feedback-table table th,
    .feedback-outer .feedback-inner .feedback-table table td {
        padding: 8px 10px;
        font-size: 12px;
        word-wrap: break-word;
    }

    .delete-btn {
        padding: 6px;
        font-size: 14px;
        letter-spacing: 1px;
    }

    .feedback-outer .feedback-inner .feedback-table table tbody tr td {
        padding: 5px;
    }

    .back-btn {
        font-size: 14px;
        padding: 10px;
        margin: 10px auto;
    }
}
/* end media query */