.about-outer .about-inner .about-information {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    position: relative;
    z-index: 1;
    margin-top: 5%;
    margin-bottom: 40px;
}

.about-outer .about-inner .about-information::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../../public/assets/about-bg.jpg');
    background-size: contain;
    background-position: center;
    opacity: 0.3;
    z-index: -1;
    border: 2px solid black;
    box-shadow: 4px 4px 10px black;
    border-radius: 50%;
}


.about-outer .about-inner .about-information .about-info-image {
    display: block;
    width: 50%;
    transform: translateX(50px);
    padding: 22px;
    box-sizing: border-box;
}

.about-outer .about-inner .about-information .about-info-image img {
    display: block;
    width: 60%;
    height: auto;

}

.about-outer .about-inner .about-information .about-info-text {
    display: block;
    width: 50%;
    box-sizing: border-box;
}

.about-outer .about-inner .about-information .about-info-text h4 {
    display: block;
    width: 70%;
    transform: translate(20%, 20%);
    font-size: 23px;
    text-transform: capitalize;
    text-align: justify;
    color: #49839a;
    padding: 40px;
}


/* Start Media Query */
@media (max-width:1199px) {
    .about-outer .about-inner .about-information .about-info-text h4 {
        font-size: 20px;
        transform: translate(20%, 7%);
    }
}

@media (max-width:991px) {
    .about-outer .about-inner .about-information .about-info-text h4 {
        width: 84%;
        transform: translate(18%, 5%);
        font-size: 18px;
    }
}

@media (max-width:767px) {

    .about-outer .about-inner .about-information .about-info-text h4 {
        transform: translate(18%, 0%);
    }

    .about-outer .about-inner .about-information .about-info-image {
        transform: translate(54px, 25px);
    }
}

@media (max-width: 639px) {

    .about-outer .about-inner .about-information {
        display: block;
    }

    .about-outer .about-inner .about-information .about-info-text h4 {
        transform: translate(29%, 0%);
        width: 95%;
        font-size: 16px;
    }

    .about-outer .about-inner .about-information .about-info-image {
        transform: translate(40%, 0%);
        width: 70%;
    }
}

@media (max-width: 479px) {
    .about-outer .about-inner .about-information .about-info-text h4 {
        transform: translate(11%, 0%);
        width: 115%;
        font-size: 16px;
    }

    .about-outer .about-inner .about-information .about-info-image {
        transform: translate(27%, -16%);
        width: 70%;
    }

    .about-outer .about-inner .about-information .about-info-image img {
        width: 100%;
    }
}
/* end media Query */