.managebook {
    padding: 20px;
    font-family: Arial, sans-serif;
    background-image: url('../../public/assets/managebook-banner.jpg');
}

.manage-banner-img {
    display: block;
    width: 100%;
    height: auto;
    margin-top: 1%;
}

.managebook-table {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 8%;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.managebook-table h3 {
    margin-bottom: 15px;
    text-align: center;
    font-size: 30px;
    color: #35bddc;
}

.managebook-table table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 10px;
}

.managebook-table th,
.managebook-table td {
    padding: 12px 15px;
    text-align: center;
    letter-spacing: 2px;
    border-bottom: 1px solid #ddd;
}

.managebook-table th {
    background-color: #65c149;
    color: white;
    text-align: center;
    font-size: 20px;
}

.managebook-table tr:hover {
    background-color: #f1f1f1;
}

.managebook-table button {
    padding: 6px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
}

.managebook-table button:hover {
    opacity: 0.8;
}

.managebook-table button:first-child {
    background-color: #ea37e1;
    color: #fff;
    margin-right: 10%;
}

.managebook-table button:last-child {
    background-color: #de1a2e;
    color: #fff;
}

.managebook-table>button {
    background-color: #28a745;
    color: white;
    padding: 8px 16px;
    margin-top: 10px;
    display: inline-block;
}

.managebook-table>button:hover {
    background-color: #218838;
}

.back-button {
    display: flex;
    margin: 0 auto;
    padding: 8px;
    font-size: 22px;
    letter-spacing: 2px;
    width: 10%;
    justify-content: center;
    background-color: darkgray;
    color: white;
    font-weight: 600;
    cursor: pointer;
}

/* Start media query */
/* Tablet screens (768px and below) */
@media screen and (max-width: 768px) {
    .managebook {
        padding: 15px;
    }

    .managebook-table h3 {
        font-size: 24px;
    }

    .managebook-table th,
    .managebook-table td {
        padding: 8px 10px;
        font-size: 14px;
    }

    .managebook-table button:first-child,
    .managebook-table button:last-child {
        margin-right: 5px;
        padding: 5px 10px;
        font-size: 14px;
    }

    .back-button {
        width: 40%;
        font-size: 18px;
        padding: 6px;
    }
}

/* Mobile screens (480px and below) */
@media screen and (max-width: 480px) {
    .managebook {
        padding: 10px;
    }

    .managebook-table h3 {
        font-size: 20px;
    }

    .managebook-table th,
    .managebook-table td {
        padding: 6px 5px;
        font-size: 12px;
    }

    .managebook-table button:first-child,
    .managebook-table button:last-child {
        padding: 4px 8px;
        font-size: 12px;
    }

    .back-button {
        width: 60%;
        font-size: 16px;
        padding: 5px;
    }
}

/* end media query */