.back-btn-number {
    display: block;
    font-size: 25px;
    padding: 8px;
    background-color: #312c67;
    color: #f2e960;
    width: 15%;
    border: 1px solid black;
    text-align: center;
    border-radius: 15px;
    transform: translateX(250%);
    margin-bottom: 2%;
    margin-top: 15px;
}

.number-banner {
    display: block;
    clear: both;
    margin-bottom: 5%;
}

.number-banner .number-banner-image {
    display: block;
    width: 100%;
    height: auto;
    box-shadow: 4px 4px 20px #f2babb;
}

.number-outer {
    display: block;
    clear: both;
}

.number-outer .number-inner {
    display: block;
}

.number-outer .number-inner .number-block {
    display: flex;
    flex-wrap: wrap;
    margin: 15px;
    box-sizing: border-box;
}

.number-outer .number-inner .number-block .number-card {
    display: block;
    width: 50%;
    padding: 30px;
    box-sizing: border-box;
}


.number-outer .number-inner .number-block .number-card img {
    display: block;
    width: 100%;
    height: auto;
    border: 2px double black;
    border-radius: 30px;
}

.number-outer .number-inner .number-block .number-card img:hover {
    box-shadow: 4px 4px 10px rgba(28, 25, 25, 0.9);
    border-radius: 30px;
    animation: number 1s infinite;
}

@keyframes number {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-20px);
    }

    60% {
        transform: translateY(-10px);
    }
}


/* Start Media Query */
@media (max-width:639px) {
    .number-outer .number-inner .number-block {
        display: block;
    }

    .number-outer .number-inner .number-block .number-card {
        width: 100%;
    }
}

/* end media query */