.about-outer .about-inner .about-our {
    display: block;
    margin-top: 6%;
    position: relative;
    z-index: 1;
    margin-bottom: 4%;
}

.about-outer .about-inner .about-our::before {
    content: "";
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-image: url('../../public/assets/team-bg.jpg');
    position: absolute;
    opacity: 0.3;
    z-index: -1;
}

.about-outer .about-inner .about-our .about-title {
    display: block;
}

.about-outer .about-inner .about-our .about-title h3 {
    display: inline-block;
    font-size: 30px;
    text-transform: uppercase;
    color: #c3b06c;
    transform: translateX(200%);
    margin-bottom: 2%;
    position: relative;
    margin-top: 3%;

}

.about-outer .about-inner .about-our .about-title p {
    display: block;
    font-size: 21px;
    text-align: center;
    color: chocolate;
    letter-spacing: 2px;
    margin-bottom: 3%;
}

.about-outer .about-inner .about-our .about-title h3::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 3px;
    background: linear-gradient(to right, #d9d5b2, #d26b20);
    border-radius: 2px;
}

.about-outer .about-inner .about-our .about-card {
    display: flex;
    margin-left: 4%;
}

.about-outer .about-inner .about-our .about-card .our-page {
    display: block;
    box-sizing: border-box;
    width: 33.33%;
}

.about-outer .about-inner .about-our .about-card .our-page .out-image {
    display: block;
    padding: 25px;
}

.about-outer .about-inner .about-our .about-card .our-page .out-image img {
    display: block;
    width: 100%;
    height: auto;
    border: 10px solid white;
    border-radius: 50%;
}

.about-outer .about-inner .about-our .about-card .our-page .our-text {
    display: block;
    margin-left: 27%;
    margin-bottom: 10%;

}

.about-outer .about-inner .about-our .about-card .our-page .our-text p {
    display: inline-block;
    font-size: 25px;
    color: rgb(78, 73, 73);
    font-weight: 600;
    background-color: #dad0a5;
    padding: 5px;
    border: 2px solid white;
    border-radius: 15px;
    box-shadow: 4px 4px 10px white;
}

.about-outer .about-inner .our-d {
    display: block;
    width: 17%;
    height: auto;
    float: right;
    transform: translate(0px, -45%);
}

/* Start Media Query */
@media (max-width:1199px) {
    .about-outer .about-inner .about-our .about-title h3 {
        transform: translateX(150%);
    }

    .about-outer .about-inner .our-d {
        transform: translate(0px, -23%);
    }

    .about-outer .about-inner .about-our .about-card .our-page .our-text p {
        font-size: 21px;
    }
}

@media (max-width:991px) {
    
    .about-outer .about-inner .about-our .about-title h3 {
        transform: translateX(100%);
    }

    .about-outer .about-inner .about-our .about-card .our-page .our-text p {
        font-size: 16px;
    }
}

@media (max-width:767px) {
   .about-outer .about-inner .about-our .about-title h3 {
        transform: translateX(80%);
    }

    .about-outer .about-inner .our-d {
        width: 20%;
    }

    .about-outer .about-inner .about-our .about-card .our-page .out-image {
        padding: 16px;
    }

    .about-outer .about-inner .about-our .about-card {
        margin-left: 0%;
    }

    .about-outer .about-inner .about-our .about-card .our-page .our-text p {
        font-size: 15px;
    }

    .about-outer .about-inner .about-our .about-card .our-page .our-text {
        margin-left: 21%;
    }
}

@media (max-width: 639px) {
  .about-outer .about-inner .about-our .about-title h3 {
        transform: translateX(49%);
    }

    .about-outer .about-inner .about-our .about-card {
        display: block;
    }

    .about-outer .about-inner .about-our .about-card .our-page {
        width: 80%;
    }

    .about-outer .about-inner .our-d {
        width: 23%;
        transform: translate(0px, -5%);
    }

    .about-outer .about-inner .about-our .about-card .our-page .our-text p {
        font-size: 25px;
    }
}

@media (max-width: 479px) {
   

    .about-outer .about-inner .about-our .about-title h3 {
        transform: translateX(10%);
    }

    .about-outer .about-inner .our-d {
        width: 55%;
        transform: translate(0px, 0%);
    }

    .about-outer .about-inner .about-our .about-card .our-page .our-text p {
        font-size: 23px;
    }
}

/* end media query */