.trees-banner {
	display: block;
	clear: both;
	margin-bottom: 6%;
}

.trees-banner .trees-banner-img {
	display: block;
	width: 100%;
	height: auto;
	box-shadow: 4px 4px 15px #546a39;
}

.back-btn-Trees {
	display: block;
	font-size: 25px;
	padding: 8px;
	background-color: #dd5d45;
	color: white;
	width: 15%;
	border: 1px solid black;
	text-align: center;
	border-radius: 15px;
	transform: translateX(250%);
	margin-bottom: 2%;
}

.trees-outer {
	display: block;
	clear: both;
}

.trees-outer .trees-inner {
	display: block;
}

.trees-outer .trees-inner .trees-block {
	display: flex;
	flex-wrap: wrap;
	box-sizing: border-box;
}

.trees-outer .trees-inner .trees-block .trees-card {
	display: block;
	width: 33.33%;
	box-sizing: border-box;
	padding: 15px;
	margin-bottom: 15px;
}

.trees-outer .trees-inner .trees-block .trees-card .trees-img {
	display: block;
}

.trees-outer .trees-inner .trees-block .trees-card .trees-img img {
	display: block;
	width: 100%;
	height: 300px;
	border: 3px dotted green;
}

.trees-outer .trees-inner .trees-block .trees-card .trees-img img:hover {
	display: block;
	transform: scale(1.0, 1.0);
	box-shadow: 4px 4px 10px black;
	transition: all 0.3s ease;
}

.trees-outer .trees-inner .trees-block .trees-card .trees-content {
	display: block;
}

.trees-outer .trees-inner .trees-block .trees-card .trees-content .trees-name {
	display: block;
	font-size: 30px;
	text-align: center;
	color: #61ba2b;
	background-color: #644624;
	border: 1px solid black;
	border-radius: 15px;
	margin-top: 15px;
}

.d-tree-image {
	display: block;
	width: 15%;
	height: auto;
	margin: 0 auto;
}

/* Start Media Query */
@media (max-width: 991px) {
	.trees-outer .trees-inner .trees-block .trees-card {
		width: 50%;
	}

	.d-tree-image {
		width: 20%;
	}
}

@media (max-width :639px) {
	.trees-outer .trees-inner .trees-block .trees-card {
		width: 100%;
	}

	.d-tree-image {
		width: 28%;
	}

	.back-btn-Trees {
		transform: translateX(230%);
	}
}

/* end media query */